<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sb.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="${icon}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activitys.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activitys.DemoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_demo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activitys.google.ChangeReceiptActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_change_receipt"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activitys.google.BankActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_bank"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activitys.ali.AliMainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_ali_main"
            android:parentActivityName=".views.activitys.google.BankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".views.activitys.ali.PaymentActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Ali">
        </activity>
        <activity
            android:name=".views.webview.ProtocolWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_protocol_web_view"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".views.activitys.user.RegActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_reg"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".views.activitys.tencent.WeChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_we_chat"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.money.PurseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_purse"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.money.PocketMoneyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_pocket_money"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.DownApkActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_pocket_money"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.ContactDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_contact_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.WeChatMessageActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_we_chat_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat.Message">
        </activity>
        <activity
            android:name=".views.activitys.tencent.SendRedPacketActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_send_red_packet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat.RedPacket">
        </activity>
        <activity
            android:name=".views.activitys.tencent.ChangeFaceActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_change_face"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.TransferActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/title_activity_transfer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.We.Chat.Message">
        </activity>
        <activity
            android:name=".views.activitys.tencent.RedPacketsDetailActivity"
            android:label="@string/title_activity_red_packets_detail"
            android:theme="@style/AppTheme.NoActionBar.We.Chat.RedPacket">
        </activity>
        <activity
            android:name=".views.activitys.tencent.FriendRedPacketsDetailActivity"
            android:label="@string/title_activity_friend_red_packets_detail"
            android:theme="@style/AppTheme.NoActionBar.We.Chat.RedPacket">
        </activity>
        <activity
            android:name=".views.activitys.tencent.transfer.TransferConfirmActivity"
            android:label="@string/title_activity_transfer_confirm"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.transfer.TransferSuccessActivity"
            android:label="@string/title_activity_transfer_success"
            android:theme="@style/AppTheme.NoActionBar.We.Chat">
        </activity>
        <activity
            android:name=".views.activitys.tencent.EditWeChatActivity"
            android:label="@string/title_activity_edit_we_chat"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name="com.sb.ui.camera.CropImage"/>
    </application>

</manifest>