<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="demo.banditcat.com.imagedemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.DemoActivity"
            android:label="@string/title_activity_demo"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activitys.google.ChangeReceiptActivity"
            android:label="@string/title_activity_change_receipt"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activitys.google.BankActivity"
            android:label="@string/title_activity_bank"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activitys.ali.AliMainActivity"
            android:label="@string/title_activity_ali_main"
            android:parentActivityName=".activitys.google.BankActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="demo.banditcat.com.imagedemo.activitys.google.BankActivity"/>
        </activity>
        <activity
            android:name=".activitys.ali.PaymentActivity"
            android:label="@string/title_activity_payment">
        </activity>
    </application>

</manifest>